html, body {
    margin: 25px;
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: darkorchid;
}

body {
    background-color: lavenderblush;
}

.top-bar {
    max-width: 1000px;
    position: static;
    margin-left: auto;
    margin-right: auto;
}

.logo {
   font-size: 40px;
   position: relative;
   padding: 0px 0px 0px 20px;
   z-index: 3;
   color: navy;
   font-weight: bold;
}

.top-menu {
   background-color: #131359;
   position: absolute;
   top: 85px;
   z-index: 2;
   width: 100%;
}

.top-menu ul {
    list-style-type: square;
    font-size: 20px; 
    float: right;
    margin-right: 20px;
}

.top-menu li {
    display: inline-block;
}

.top-menu li a:link, .top-menu li a:visited {
    color: white;
    text-decoration: underline navy;
    padding: 25px 25px 25px 25px;
}

.top-menu li a:hover {
    background-color: darkcyan;
}

.current-page-link {
    background-color: #db0e0e;
}

.page-content {
    position: relative;
    top: 145px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 1;
}

.main-section {
    padding: 15px 25px 15px 25px;
}

.main-section h1, .main-section h2 {
    color: black;
}

.main-section figure, .main-section img {
    display: block;
    margin: auto;
    width: 800px;
}

.footer {
    position: relative;
    top: 140px;
    z-index: 1;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color:#3f3c3c;
}

.footer-content {
    padding: 5px 5px 5px 20px;
    color: seagreen;
}

.footer-content a:link {
    color: white;
    text-decoration: none;
}
